@keyframes down-btn {
  0% {
    bottom: 20px;
  }
  100% {
    bottom: 0px;
  }
  0% {
    opacity: 0;
  }
  100% {
    opaicty: 1;
  }
}
@-webkit-keyframes down-btn {
  0% {
    bottom: 20px;
  }
  100% {
    bottom: 0px;
  }
  0% {
    opacity: 0;
  }
  100% {
    opaicty: 1;
  }
}
@-moz-keyframes down-btn {
  0% {
    bottom: 20px;
  }
  100% {
    bottom: 0px;
  }
  0% {
    opacity: 0;
  }
  100% {
    opaicty: 1;
  }
}

@-o-keyframes down-btn {
  0% {
    bottom: 20px;
  }
  100% {
    bottom: 0px;
  }
  0% {
    opacity: 0;
  }
  100% {
    opaicty: 1;
  }
}
/* Basic Card */
/* Image Card */
/* Overlay Image Card */
/* Product & Shop Cards */

.category-name {
  width: -webkit-fill-available;
  text-align: center;
  font-size: 40px;
}
.card-category-2 {

  ul {
    padding: 0;
    li {
      list-style-type: none;
      display: inline-block;
      vertical-align: top;
      margin: 10px 5px;
    }
  }
  font-family: $font-family_1;
  margin-bottom: 45px;
  text-align: center;
  div {
    display: inline-block;
  }
  > div {
    &:not(:last-child) {
      margin: 10px 5px;
      text-align: left;
    }
  }
  .img-card {
    width: 280px;
    height: 410px;
    max-width: 280px;
    position: relative;
    border-radius: 5px;
    text-align: left;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  
    .card-image {
      position: relative;
      margin: auto;
      overflow: hidden;
      border-radius: 5px 5px 0px 0px;
      height: 100%;
  
      img {
        width: 100%;
        height: 410px;
        max-width: 100%;
        max-height: 410px;
        object-fit: contain;
        border-radius: 5px 5px 0px 0px;
        transition: all 0.8s;
      }
  
      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }
  
    .card-text {
      padding: 0 15px 15px;
      line-height: 1.5;
    }
  
    .card-link {
      padding: 20px 15px 30px;
      width: -webkit-fill-available;
  
      a {
        text-decoration: none;
        position: relative;
        padding: 10px 0;
  
        &:after {
          top: 30px;
          content: "";
          display: block;
          height: 2px;
          left: 50%;
          position: absolute;
          width: 0;
          transition: width 0.3s ease 0s, left 0.3s ease 0s;
        }
  
        &:hover {
          &:after {
            width: 100%;
            left: 0;
          }
        }
      }
    }
  
    &.iCard-style1 {
      .card-title {
        position: absolute;
        font-family: $font-family_2;
        z-index: 1;
        top: 10px;
        left: 10px;
        font-size: 30px;
        color: $color_1;
      }
  
      .card-text {
        color: $color_6;
      }
  
      .card-link {
        a {
          color: $color_7;
  
          &:after {
            background: #ff9800;
          }
        }
      }
    }
  }
  
}


.movie-info {
  font-size: 14px;
  color: #888;
margin: 10px;

  .separator {
    margin: 0 5px;
  }
}
// .flip-card-back p {
// margin: auto !important;
// }
.card-manage {
  position: absolute;
  z-index: 1;
  top: 5px;
  right: 5px;
  text-align: right;

  .icon {
    margin: 5px;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  &:hover .icon {
    color: #ff0000; /* Change the color to the desired hover color */
  }
}
.addBtn {
  display: inline-block;
  padding: 10px 20px;
  background-color: $color_7  ;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none !important;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  .icon {
    display: inline-block;
    margin-right: 5px;
    font-size: 20px;
    vertical-align: middle;
  }
  &:hover {
    background-color: lighten(#ff0000, 20%);
  }

  &:active {
    background-color:lighten(#ff0000, 80%);;
  }
}
.textarea-container {
  position: relative;
}

.word-count {
  position: absolute;
  top: -19px;
  right: 0;
  font-size: 12px;
  color: #999;
}

@mixin message-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  border: 1px solid;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px
}


.error-box {
  @include message-box;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
  top: 20px;
  transform: translateX(-50%);

}

.success-box {
  @include message-box;
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
  top: 20px;
  transform: translateX(-50%);
}
.form-control {
  /* Your existing styles for the form control */

  &.red-border {
    border: 2px solid #d94a38;
  }
}
.form-select {
  /* Your existing styles for the form control */

  &.red-border {
    border: 2px solid #d94a38;
  }
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #FF9800; /* Update the background color to #FF9800 (orange) */
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  background-image: linear-gradient(to bottom, #FF9800, #FFC107); /* Update the gradient colors */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #FFFFFF; /* Update the text color to white */
}

.header-title {
  flex: 1;
  text-align: left;
}